{% extends "::base.html.twig" %}

{% block title %}EagleShopBundle:product:index{% endblock %}

{% block body %}
    <div class="section_container"> 
        <!--Mid Section Starts-->
        <section>
            {#<ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="leisure_listing.html">Women</a></li>
                <li class="active"><a href="#">Shirts & Blouses</a></li>
            </ul>#}
            <!--PRODUCT DETAIL STARTS-->
            <div id="product_detail"> 
                <!--Product Left Starts-->
                <div class="product_leftcol">
                    
                    
                    
                    {% if product_images %}                            
                         {% for id,image in product_images %}
                             {% if id == 0 %} 
                                 <img style="width: 360px; height: 414px;" src="{{ asset('uploads/products/' ~ image.imgUrl) }}"> 
                             {% endif %}    
                         {% endfor %}   
                    {% else %}  
                         <img style="width: 360px; height: 414px;" src="{{ asset('uploads/products/' ~ 'no_priview.jpg') }}"> 
                    {% endif %}      
                    
                    <span class="pr_info" style="text-align: center;">---------</span>
                    <ul class="pr_gallery">

                        {% for image in product_images %}
                            <li><a href="#"><img style="width: 85px; height: 85px;" src="{{ asset('uploads/products/' ~ image.imgUrl) }}"></a></li>
                        {% endfor %}
                            {#<li><a href="#"><img src="images/pr_gal1.jpg"></a></li>
                            <li><a href="#"><img src="images/pr_gal2.jpg"></a></li>
                            <li><a href="#"><img src="images/pr_gal3.jpg"></a></li>#}
                    </ul>
                </div>
                <!--Product Left Ends--> 
                <!--Product Right Starts-->
                <div class="product_rightcol"> <small class="pr_type">{{ product.category.catTitle }}</small>
                    <h1>{{product.productTitle}}</h1>
                    <p class="short_dc"> {{product.description}} </p>

                    <div class="pr_price"> <big>${{ product.price|number_format(2, '.', ',') }}</big> </div>
                    <div class="size_info">
                        <div class="size_sel">
                            <label>Available Amount :</label>
                            <label>25</label>
                            {# <select>
                                 <option>SELECT</option>
                                 <option>32</option>
                             </select>#}
                        </div>
                        {#<div class="color_sel">
                            <label>Color :</label>
                            <select>
                                <option>BEIGE</option>
                                <option>CORAL</option>
                            </select>
                        </div>#}
                    </div>
                    <div class="qty_info">
                        <div class="quantity">
                            <label>Quantity :</label>
                            <select class="getQuantity">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="add_to_buttons">
                        <button id="addToCartWitQuan" class="add_cart" title="{{product.productTitle}}" pid="{{product.id}}" price="{{product.price}}">Add to Cart</button>
                        {#<span>or</span>
                        <ul>
                            <li><a href="#">Add to Wishlist</a></li>
                        </ul>#}
                    </div>
                    {#<div class="product_overview">
                        <h4>Quick Overview</h4>
                        <ul>
                            <li>Long sleeves with single button cuffs.</li>
                            <li>Cuffs can be rolled up and secured with button-tabs.</li>
                            <li>Standing collar with notched detailing.</li>
                            <li>Front button placket.</li>
                            <li>Hem is longer in back.</li>
                        </ul>
                    </div>#}
                </div>
                <!--Product Right Ends--> 
            </div>
            <!--PRODUCT DETAIL ENDS--> 
            <!--Product List Starts-->
            <div class="products_list products_slider">
                <h2 class="sub_title">You might also like</h2>
                <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
                    {% for product in related_products %}
                        <li> <a class="product_image">
                                {% if product.imgUrl != '' %}
                                    <img src="{{ asset('uploads/products/' ~ product.imgUrl) }}"/>
                                {% else %}
                                    <img src="{{ asset('uploads/products/' ~ 'no_priview.jpg') }}"/>
                                {% endif %}
                            </a>
                            <div class="product_info">
                                <h3><a href="leisure_detail.html">{{product.productTitle}}/Garden Clog</a></h3>
                                <small>{{product.description}}</small> </div>
                            <div class="price_info"> <a href="/products/display/{{product.id}}">+ View Product</a>
                                <button class="price_add" id="addToCart" title="{{product.productTitle}}" pid="{{product.id}}" price="{{product.price}}" title="" type="button"><span class="pr_price">${{ product.price|number_format(2, '.', ',') }}</span><span class="pr_add">Add to Cart</span></button>
                            </div>
                        </li>
                    {% endfor %} 
                    {#<li> <a class="product_image"><img src="images/pr_l_1.jpg"/></a>
                        <div class="product_info">
                            <h3><a href="leisure_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="images/pr_l_2.jpg"/></a>
                        <div class="product_info">
                            <h3><a href="leisure_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="images/pr_l_3.jpg"/></a>
                        <div class="product_info">
                            <h3><a href="leisure_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="images/pr_l_5.jpg"/></a>
                        <div class="product_info">
                            <h3><a href="leisure_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="images/pr_l_1.jpg"/></a>
                        <div class="product_info">
                            <h3><a href="leisure_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>
                    <li> <a class="product_image"><img src="images/pr_l_2.jpg"/></a>
                        <div class="product_info">
                            <h3><a href="leisure_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                            <small>Comfortable and fun to wear these clogs are the latest trend in fash</small> </div>
                        <div class="price_info"> <a href="#">+ Add to wishlist</a>
                            <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                        </div>
                    </li>#}
                </ul>
            </div>
            <!--Product List Ends--> 

            <!--Newsletter_subscribe Starts-->
            <div class="subscribe_block">
                <div class="find_us">
                    <h3>Find us on</h3>
                    <a class="twitter" href="#"></a> <a class="facebook" href="#"></a> <a class="rss" href="#"></a> </div>
                <div class="subscribe_nl">
                    <h3>Subscribe to our Newsletter</h3>
                    <small>Instant wardrobe updates, new arrivals, fashion news, don’t miss a beat – sign up to our newsletter now.</small>
                    <form id="newsletter" method="post" action="#">
                        <input type="text" class="input-text" value="Enter your email" title="Enter your email" id="newsletter" name="email">
                        <button class="button" title="" type="submit"></button>
                    </form>
                </div>
            </div>
            <!--Newsletter_subscribe Ends-->

        </section>
        <!--Mid Section Ends--> 
    </div>
{% endblock %}
